@model AddLibraryModel

<form method="post" class="row g-3 mb-3">

    <div class="col-sm-12">
        <label class="form-label" asp-for="Name">@SharedResources.Name</label>
        <input class="form-control" asp-for="Name" type="text" autofocus/>
        <span class="form-text text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="col-sm-4">
        <label class="form-label" asp-for="StoragePath">@SharedResources.Libraries_StoragePath</label>
        <input class="form-control" asp-for="StoragePath" type="text" value="/var/opt/tubeshade"/>
        <span class="form-text text-danger" asp-validation-for="StoragePath"></span>
    </div>

    <div class="col-sm-4">
        <label class="form-label" asp-for="CronExpression">@SharedResources.Libraries_SubscriptionSchedule</label>
        <input class="form-control" asp-for="CronExpression" type="text"/>
        <span class="form-text text-danger" asp-validation-for="CronExpression"></span>
    </div>

    <div class="col-sm-4">
        <label class="form-label" asp-for="TimeZoneId">@SharedResources.Libraries_SubscriptionTimeZone</label>
        <select class="form-control form-select tubeshade-time-zone-select" asp-for="TimeZoneId">
            @foreach (var id in Model.TimeZoneIds)
            {
                <option value="@id">@id</option>
            }
        </select>
        <span class="form-text text-danger" asp-validation-for="TimeZoneId"></span>
    </div>

    <div class="col-12 col-sm-4 col-lg-3 col-xxl-2">
        <button class="btn btn-success w-100" type="submit">
            @SharedResources.Button_CreateLibrary
        </button>
    </div>
</form>
