@model Tubeshade.Data.Media.LibraryEntity

<li class="nav-item">
    <a class="nav-link" asp-page="/Libraries/Library" asp-route-libraryId="@Model.Id">
        @SharedResources.Videos
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-page="/Libraries/Channels/Index" asp-route-libraryId="@Model.Id">
        @SharedResources.Channels
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-page="/Libraries/Downloads/Index" asp-route-libraryId="@Model.Id">
        @SharedResources.Downloads
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-page="/Libraries/Tasks/Index" asp-route-libraryId="@Model.Id">
        @SharedResources.Tasks
    </a>
</li>
