@using Tubeshade.Data.Preferences
@model UpdatePreferencesModel

<form asp-page-handler="UpdatePreferences" class="row g-3 mb-3">

    <div class="col-sm-4">
        <label class="form-label" asp-for="VideosCount">
            @SharedResources.Preferences_VideoCount
        </label>
        <input class="form-control" asp-for="VideosCount" type="number" min="0" step="1"/>
        <span class="form-text text-danger" asp-validation-for="VideosCount"></span>
    </div>

    <div class="col-sm-4">
        <label class="form-label" asp-for="LiveStreamsCount">
            @SharedResources.Preferences_LivestreamCount
        </label>
        <input class="form-control" asp-for="LiveStreamsCount" type="number" min="0" step="1"/>
        <span class="form-text text-danger" asp-validation-for="LiveStreamsCount"></span>
    </div>

    <div class="col-sm-4">
        <label class="form-label" asp-for="ShortsCount">
            @SharedResources.Preferences_ShortCount
        </label>
        <input class="form-control" asp-for="ShortsCount" type="number" min="0" step="1"/>
        <span class="form-text text-danger" asp-validation-for="ShortsCount"></span>
    </div>

    <div class="col-sm-4">
        <label class="form-label" asp-for="PlayerClient">
            @SharedResources.Preferences_PlayerClient
        </label>
        <select class="form-control form-select" asp-for="PlayerClient">
            <option value="" selected="@(Model.PlayerClient is null)">
                @SharedResources.Default
            </option>
            @foreach (var client in PlayerClient.List)
            {
                <option value="@client.Name" selected="@(client.Name == Model.PlayerClient)">@client.Name</option>
            }
        </select>
        <span class="form-text text-danger" asp-validation-for="PlayerClient"></span>
    </div>

    <div class="col-sm-4">
        <label class="form-label" asp-for="DownloadAutomatically">
            @SharedResources.Preferences_DownloadAutomatically
        </label>
        <select class="form-control form-select" asp-for="DownloadAutomatically">
            <option value="@null" selected="@(Model.DownloadAutomatically is null)">
                @SharedResources.Default
            </option>
            <option value="@true" selected="@(Model.DownloadAutomatically)">
                @SharedResources.Yes
            </option>
            <option value="@false" selected="@(!Model.DownloadAutomatically)">
                @SharedResources.No
            </option>
        </select>
        <span class="form-text text-danger" asp-validation-for="DownloadAutomatically"></span>
    </div>

    <div class="col-sm-4">
        <label class="form-label" asp-for="PlaybackSpeed">
            @SharedResources.Preferences_PlaybackSpeed
        </label>
        <input class="form-control" asp-for="PlaybackSpeed" type="number" min="0" step="0.25"/>
        <span class="form-text text-danger" asp-validation-for="PlaybackSpeed"></span>
    </div>

    <div class="col-sm-12">
        <label class="form-label" asp-for="Formats">
            @SharedResources.Preferences_DownloadFormats
        </label>
        <input class="form-control" asp-for="Formats" type="text"/>
        <span class="form-text text-danger" asp-validation-for="Formats"></span>
    </div>

    <div class="col-12 col-sm-4 col-lg-3 col-xxl-2">
        <button class="btn btn-primary w-100" type="submit">
            @SharedResources.Button_UpdatePreferences
        </button>
    </div>
</form>
