@page "~/Libraries/{libraryId:guid}/{handler?}"
@model Library
@{
    ViewData["Title"] = Model.Entity.Name;
}

@section Navigation
{
    @await Html.PartialAsync("_LibraryNavigation", Model.Entity)
}

<section id="library-preferences">
    @await Html.PartialAsync("_UpdatePreferences", new UpdatePreferencesModel())
</section>

@await Html.PartialAsync("_Videos", Model.PageData)

<nav class="text-center">
    <span>
        Showing @Model.PageData.StartIndex - @Model.PageData.EndIndex from @Model.PageData.TotalCount
    </span>

    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PageData.IsFirst ? "disabled" : string.Empty)">
            <a asp-page="/Libraries/Library" asp-route-libraryId="@Model.LibraryId"
               asp-route-pageIndex="0" asp-route-pageSize="@Model.PageData.PageSize"
               class="page-link">
                First
            </a>
        </li>

        @foreach (var index in Model.PageData.DisplayedPages)
        {
            <li class="page-item @(index - 1 == Model.PageData.Page ? "active" : string.Empty)">
                <a asp-page="/Libraries/Library" asp-route-libraryId="@Model.LibraryId"
                   asp-route-pageIndex="@(index - 1)" asp-route-pageSize="@Model.PageData.PageSize"
                   class="page-link" aria-current="page">
                    @index
                </a>
            </li>
        }

        <li class="page-item @(Model.PageData.IsLast ? "disabled" : string.Empty)">
            <a asp-page="/Libraries/Library" asp-route-libraryId="@Model.LibraryId"
               asp-route-pageIndex="@(Model.PageData.PageCount - 1)" asp-route-pageSize="@Model.PageData.PageSize"
               class="page-link">
                Last
            </a>
        </li>
    </ul>
</nav>
