@page "~/Libraries/{libraryId:guid}/Videos/{videoId:guid}/{handler?}"
@using NodaTime.Text
@using Tubeshade.Server.Pages.Shared
@model Video
@{
    ViewData["Title"] = Model.Entity.Name;
}

@section Head
{
    <link rel="prefetch" as="script" href="~/lib/htmx.org/dist/js/htmx.min.js"/>
    <link rel="prefetch" as="script" href="~/js/htmx.antiforgery.js"/>
}

@section Navigation
{
    @await Html.PartialAsync("_LibraryNavigation", Model.Library)
}

<div class="row">
    <div class="col-md-12 col-lg">
        <video id="video" controls playsinline preload="metadata" width="100%"
               poster="@Url.Action("GetThumbnail", "Videos", new { version = "1.0", id = Model.VideoId })">

            @foreach (var file in Model.Files)
            {
                <source
                    src="@Url.Action("GetFile", "Videos", new { version = "1.0", id = Model.VideoId, fileId = file.Id })"
                    type="video/@file.Type.Name"/>
            }

            @if (Model.HasSubtitles)
            {
                <track
                    src="@Url.Action("GetSubtitles", "Videos", new { version = "1.0", id = Model.VideoId })"
                    label="English" kind="subtitles" srclang="en" default/>
            }

            @if (Model.HasChapters)
            {
                <track
                    src="@Url.Action("GetChapters", "Videos", new { version = "1.0", id = Model.VideoId })"
                    kind="chapters" srclang="en" default/>
            }

            @if (Model.HasSponsorBlockSegments)
            {
                <track
                    src="@Url.Action("GetSponsorBlockSegments", "Videos", new { version = "1.0", id = Model.VideoId })"
                    kind="metadata" srclang="en" label="SponsorBlock" default/>
            }
        </video>
    </div>

    <section id="video-controls" class="col-md-12 col-lg-auto">
        <div class="row">
            <div class="col-6 col-lg-12 mb-3">
                <label for="sources" class="form-label">Resolution</label>
                <select id="sources" class="form-control form-select" disabled="@(Model.Files.Count < 2)">
                    @foreach (var file in Model.Files)
                    {
                        <option
                            value="@Url.Action("GetFile", "Videos", new { version = "1.0", id = Model.VideoId, fileId = file.Id })">
                            @(file.Height)@@@(file.Framerate)
                        </option>
                    }
                </select>
            </div>

            <div class="col-6 col-lg-12 mb-3">
                <label for="playback-rate-input" class="form-label">Speed</label>
                <input id="playback-rate-input" class="form-control" type="number" min="0" step="0.25"
                       value="@Model.PlaybackSpeed"/>
            </div>
        </div>

        <div id="chapter-marker-div" hidden class="mb-3">
            <label for="chapter-markers" class="form-label">Chapter</label>
            <select id="chapter-markers" class="form-control form-select"></select>
        </div>
    </section>
</div>

<h3>@Model.Entity.Name</h3>

<div class="row mb-2">
    <div class="col-auto">
        <a asp-page="/Libraries/Channels/Channel" asp-route-libraryId="@Model.LibraryId"
           asp-route-channelId="@Model.Channel.Id">
            @Model.Channel.Name
        </a>
    </div>
    <div class="col-auto">
        <a href="@Model.Entity.ExternalUrl">Original</a>
    </div>
    <form class="col-auto">
        <input value="@(Model.VideoId)" name="videoId" hidden/>
        <div class="form-check form-check-inline form-switch">
            <input id="viewed" checked="@(Model.Entity.ViewedAt is not null)" name="viewed"
                   type="checkbox" role="switch" switch title="Viewed" class="form-check-input"
                   hx-post="" hx-page-handler="Viewed" hx-swap="none"/>
            <label for="viewed" class="form-check-label">
                Viewed
            </label>
        </div>
    </form>
    <div class="col-auto">
        Published at @LocalDatePattern.CreateWithCurrentCulture("yyyy-MM-dd").Format(Model.Entity.PublishedAt.InUtc().Date)
    </div>
    <div class="col-auto">
        Refreshed at @LocalDatePattern.CreateWithCurrentCulture("yyyy-MM-dd").Format(Model.Entity.RefreshedAt.InUtc().Date)
    </div>
    @if (Model.Entity.ViewCount is { } viewCount)
    {
        <div class="col-auto">
            @viewCount views
        </div>
    }
    @if (Model.Entity.LikeCount is { } likeCount)
    {
        <div class="col-auto">
            @likeCount likes
        </div>
    }
</div>

@if (Model.Entity.Categories.Length > 0 || Model.Entity.Tags.Length > 0)
{
    <div class="row mb-2">
        <div class="d-flex flex-row flex-wrap">
            @foreach (var category in Model.Entity.Categories)
            {
                <span class="badge rounded-pill bg-primary m-1">@category</span>
            }

            @foreach (var tag in Model.Entity.Tags)
            {
                <span class="badge rounded-pill bg-secondary m-1">@tag</span>
            }
        </div>
    </div>
}

<section id="video-description">
    @foreach (var paragraph in Model.Entity.Description.Split(["\r\n\r\n", "\n\n"], StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries))
    {
        <p style="white-space: pre">@paragraph</p>
    }
</section>

@section Scripts
{
    <script src="~/lib/htmx.org/dist/js/htmx.min.js"></script>
    <script src="~/js/htmx.antiforgery.js"></script>
    <script type="module">
        import {setPreferredResolution} from "/js/modules/device-preferences.js";

        const video = document.querySelector("#video");
        video.playbackRate = @Model.PlaybackSpeed;

        if ("mediaSession" in navigator) {
            // since thumbnail endpoint requires authentication, the artwork source cannot be simply set to the url of the thumbnail
            // we need to fetch it within the page context, and encode it into a data url
            fetch("@Url.ActionLink("GetThumbnail", "Videos", new { version = "1.0", id = Model.VideoId })")
                .then(response => response.blob())
                .then(blob => {
                    const blobUrl = URL.createObjectURL(blob);
                    navigator.mediaSession.metadata = new MediaMetadata({
                        title: @Html.Raw(Model.Entity.Name.ToJson()),
                        album: @Html.Raw(Model.Library.Name.ToJson()),
                        artist: @Html.Raw(Model.Channel.Name.ToJson()),
                        artwork: [
                            {
                                src: blobUrl,
                                type: "image/jpeg",
                                sizes: "512x512"
                            }
                        ],
                    });
                });

            navigator.mediaSession.setActionHandler("play", () => video.play());
            navigator.mediaSession.setActionHandler("pause", () => video.pause());
            navigator.mediaSession.setActionHandler("stop", () => video.pause());
            navigator.mediaSession.setActionHandler("seekforward", (event) => {
                const skipTime = event.seekOffset || 10;
                video.currentTime = Math.min(video.currentTime + skipTime, video.duration);
            });
            navigator.mediaSession.setActionHandler("seekbackward", (event) => {
                const skipTime = event.seekOffset || 10;
                video.currentTime = Math.max(video.currentTime - skipTime, 0);
            });
            navigator.mediaSession.setActionHandler("seekto", (event) => {
                video.currentTime = event.seekTime;
            });
        }

        const sourcesSelector = document.querySelector("#sources");

        // set the selected option to the source currently selected by the browser
        for (let index = 0; index < sourcesSelector.options.length; index++) {
            if (video.currentSrc.endsWith(sourcesSelector.options[index].value)) {
                sourcesSelector.selectedIndex = index;
            }
        }

        sourcesSelector.addEventListener("change", onSourcesSelectorChanged, false);
        setPreferredResolution(sourcesSelector);

        function onSourcesSelectorChanged() {
            const currentTime = video.currentTime;
            const currentPlaybackRate = video.playbackRate;
            const paused = video.paused;

            video.src = sourcesSelector.options[sourcesSelector.selectedIndex].value;
            video.currentTime = currentTime;
            video.playbackRate = currentPlaybackRate;
            if (!paused) {
                video.play();
            }
        }

        const playbackRateInput = document.querySelector("#playback-rate-input");
        playbackRateInput.addEventListener("change", onPlaybackSpeedInputChange, false);

        function onPlaybackSpeedInputChange() {
            if (video.playbackRate !== playbackRateInput.value) {
                video.playbackRate = playbackRateInput.value;
            }
        }

        video.addEventListener("ratechange", onVideoRateChange, false);

        function onVideoRateChange() {
            if (playbackRateInput.value !== video.playbackRate) {
                playbackRateInput.value = video.playbackRate;
            }
        }

        video.addEventListener("ended", onVideoEnded, false);

        function onVideoEnded() {
            const viewedInput = document.querySelector("#viewed");
            if (viewedInput.checked === true) {
                return;
            }

            viewedInput.checked = true;
            viewedInput.dispatchEvent(new Event("change"));
        }

        const chaptersTrack = video.querySelector('track[kind="chapters"]');
        if (chaptersTrack !== null) {
            const chapters = document.querySelector("#chapter-markers");
            const chaptersSection = document.querySelector("#chapter-marker-div");

            if (chaptersTrack.readyState === 2) {
                console.debug("Chapters track already loaded");
                onChaptersTrackLoad();
            } else {
                console.debug("Waiting for chapters track to load");
                chaptersTrack.addEventListener("load", onChaptersTrackLoad, false);
                chaptersTrack.addEventListener("loaded", onChaptersTrackLoad, false);
            }

            function onChaptersTrackLoad() {
                chaptersSection.removeAttribute("hidden");

                for (const cue of chaptersTrack.track.cues) {
                    createMarker(cue);
                }

                chaptersTrack.addEventListener("cuechange", function (_event) {
                    const activeCues = chaptersTrack.track.activeCues;
                    if (activeCues.length === 0) {
                        console.warn("Chapters cue changed, but none are active");
                        return;
                    }

                    const cue = activeCues[activeCues.length - 1];
                    chapters.value = cue.startTime;
                });

                chapters.size = chaptersTrack.track.cues.length;
                chapters.addEventListener("change", function (event) {
                    video.currentTime = event.target.value;
                });
            }

            function createMarker(cue) {
                let timestamp = new Date(cue.startTime * 1000).toISOString().slice(11, 19);
                if (timestamp.startsWith("00:")) {
                    timestamp = timestamp.slice(3);
                }

                const option = document.createElement("option");
                option.value = cue.startTime;
                option.innerHTML = `${timestamp} - ${cue.text}`;
                chapters.appendChild(option);
            }
        }

        const sponsorBlockTrack = video.querySelector('track[kind="metadata"][label="SponsorBlock"]');
        if (sponsorBlockTrack !== null) {
            if (sponsorBlockTrack.readyState === 2) {
                console.debug("SponsorBlock track already loaded");
                onSponsorBlockTrackLoad();
            } else {
                console.debug("Waiting for SponsorBlock track to load");
                sponsorBlockTrack.addEventListener("load", onSponsorBlockTrackLoad, false);
                sponsorBlockTrack.addEventListener("loaded", onSponsorBlockTrackLoad, false);
            }
        }

        function onSponsorBlockTrackLoad() {
            sponsorBlockTrack.addEventListener("cuechange", function (_event) {
                const activeCues = sponsorBlockTrack.track.activeCues;

                if (activeCues.length === 1) {
                    const cue = activeCues[0];
                    console.debug("Single active SponsorBlock cue", cue);
                    if (cue.text !== "filler") {
                        video.currentTime = cue.endTime;
                    }
                } else {
                    console.debug("Zero or multiple active SponsorBlock cues", activeCues);
                }
            });
        }
    </script>
}
