@using Tubeshade.Data.Tasks
@model List<TaskModel>

<table hx-get="" hx-page-handler="Running" hx-trigger="every 2s" hx-swap="outerHTML" class="table">
    <thead>
    <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>

    @foreach (var task in Model)
    {
        <tbody>
        @foreach (var (index, run) in task.Runs.Index())
        {
            <tr aria-busy="@run.HasProgress" aria-describedby="@run.ProgressBarId">
                <td>
                    @if (index is 0)
                    {
                        <span>@task.TypeDisplay</span> <span>"@task.Name"</span>
                    }
                </td>
                <td>
                    @if (run.HasProgress)
                    {
                        <div class="row flex-nowrap">
                            <label for="@run.ProgressBarId" class="col-auto">@run.FormattedValue</label>
                            <progress id="@run.ProgressBarId" max="@run.Target" value="@run.Value" class="col-auto">
                                @run.Progress%
                            </progress>
                            <label for="@run.ProgressBarId" class="col-auto">@run.FormattedTarget</label>
                        </div>
                    }
                    else
                    {
                        @run.Status.Name
                        @if (run.Message is not null)
                        {
                            <span> - @run.Message</span>
                        }
                    }
                </td>
                <td>
                    @if (index is 0)
                    {
                        @if (run.Result is not null && run.Result != TaskResult.Successful)
                        {
                            <button
                                hx-post="" hx-page-handler="Retry" hx-route-taskId="@task.Id" hx-swap="none"
                                type="button" class="btn btn-primary w-100">
                                Retry
                            </button>
                        }
                        else if (run.Status == TaskStatus.InProgress)
                        {
                            <button
                                hx-post="" hx-page-handler="Cancel" hx-route-taskRunId="@run.Id" hx-swap="none"
                                type="button" class="btn btn-danger w-100">
                                Cancel
                            </button>
                        }
                    }
                </td>
            </tr>
        }
        </tbody>
    }
</table>
