@model List<TaskModel>

<table hx-get="" hx-page-handler="Running" hx-trigger="every 2s" hx-swap="outerHTML" class="table">
    <thead>
    <tr>
        <th>Type</th>
        <th>Video</th>
        <th>Progress</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var task in Model)
    {
        <tr aria-busy="@task.HasProgress" aria-describedby="@task.ProgressBarId">
            <td>@task.TypeDisplay</td>
            <td>@task.Name</td>
            <td>
                @if (task.HasProgress)
                {
                    <div class="row flex-nowrap">
                        <label for="@task.ProgressBarId" class="col-auto">@task.Value</label>
                        <progress id="@task.ProgressBarId" max="@task.Target" value="@task.Value" class="col-auto">
                            @task.Progress%
                        </progress>
                        <label for="@task.ProgressBarId" class="col-auto">@task.Target</label>
                    </div>
                }
            </td>
            <td>
                @task.Status.Name
                @if (task.Message is not null)
                {
                    <span> - @task.Message</span>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
