@using Tubeshade.Data.Media
@using Tubeshade.Server.Pages.Shared
@model Tubeshade.Server.Pages.Shared.IDownloadPage

<form method="get" class="row row-cols-1 row-cols-sm-auto g-2 align-items-center mb-2"
      hx-get="" hx-page="" hx-params="*" hx-push-url="true"
      hx-trigger="input changed delay:100ms" hx-target="#downloadable-videos" hx-swap="outerHtml">

    <div class="col-12 col-md">
        <input asp-for="Query" class="form-control" type="search" placeholder="Search"/>
    </div>

    <div class="col-12">
        <select asp-for="ChannelId" class="form-control form-select">
            <option selected="@(Model.ChannelId is null)" value="">All channels</option>
            @foreach (var channel in Model.Channels)
            {
                <option selected="@(Model.ChannelId == channel.Id)" value="@channel.Id">@channel.Name</option>
            }
        </select>
    </div>

    <div class="col-12">
        <select asp-for="Type" class="form-select">
            <option value="">All types</option>
            @foreach (var type in VideoType.List)
            {
                <option value="@type.Name">@type.Name</option>
            }
        </select>
    </div>

    <div class="col-12">
        <input asp-for="PageSize" class="form-control" type="number" placeholder="Page size"
               value="@(Model.PageSize is null or Defaults.PageSize ? null : Model.PageSize)"/>
    </div>

    <div class="col-12">
        <div class="col-12">
            <select asp-for="WithFiles" class="form-select">
                <option value="">All</option>
                <option value="@true">With files</option>
                <option value="@false">Without files</option>
            </select>
        </div>
    </div>

    <div class="col-12">
        <select asp-for="Availability" class="form-select">
            <option value="">Any availability</option>
            @foreach (var type in ExternalAvailability.List)
            {
                <option value="@type.Name">@type.Name</option>
            }
        </select>
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary" title="Search">
            🔎︎
        </button>
    </div>

    <input asp-for="PageIndex" value="@Model.PageIndex" hidden="hidden"/>
</form>
