@page "~/Libraries/{libraryId:guid}/Downloads/{handler?}"
@model Index
@{
    ViewData["Title"] = $"Downloads - {Model.Library.Name}";
}

@section Head
{
    <link rel="prefetch" as="script" href="~/lib/htmx.org/dist/js/htmx.min.js"/>
}

@section Navigation
{
    @await Html.PartialAsync("_LibraryNavigation", Model.Library)
}

@await Html.PartialAsync("_DownloadVideo", new DownloadVideoModel())

<section id="downloadable-videos">
    @foreach (var video in Model.PageData.Data)
    {
        <div class="card">
            <div class="row g-0">
                <div class="col-auto col-sm">
                    <img src="@Url.Action("GetThumbnail", "Videos", new { version = "1.0", id = video.Id })" alt="@video.Name"
                         class="img-fluid card-img" width="100%"/>
                </div>
                <div class="col-sm-8 col-lg-9">
                    <div class="card-body">
                        <h5 class="card-title">@video.Name</h5>

                        <div class="btn-group btn-group-sm" role="group">
                            <form method="post" asp-page="/Libraries/Downloads/Index" asp-page-handler="Ignore"
                                  asp-route-libraryId="@Model.LibraryId" asp-route-videoId="@video.Id">
                                <button class="btn btn-secondary">Ignore</button>
                            </form>

                            <form method="post" asp-page="/Libraries/Downloads/Index" asp-page-handler="StartDownload"
                                  asp-route-libraryId="@Model.LibraryId" asp-route-videoId="@video.Id">
                                <button class="btn btn-success">Download</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <nav class="text-center">
        <span>
            Showing @Model.PageData.StartIndex - @Model.PageData.EndIndex from @Model.PageData.TotalCount
        </span>

        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.PageData.IsFirst ? "disabled" : string.Empty)">
                <a asp-page="/Libraries/Downloads/Index" asp-route-libraryId="@Model.LibraryId"
                   asp-route-pageIndex="0" asp-route-pageSize="@Model.PageData.PageSize"
                   class="page-link">
                    First
                </a>
            </li>

            @foreach (var index in Model.PageData.DisplayedPages)
            {
                <li class="page-item @(index - 1 == Model.PageData.Page ? "active" : string.Empty)">
                    <a asp-page="/Libraries/Downloads/Index" asp-route-libraryId="@Model.LibraryId"
                       asp-route-pageIndex="@(index - 1)" asp-route-pageSize="@Model.PageData.PageSize"
                       class="page-link" aria-current="page">
                        @index
                    </a>
                </li>
            }

            <li class="page-item @(Model.PageData.IsLast ? "disabled" : string.Empty)">
                <a asp-page="/Libraries/Downloads/Index" asp-route-libraryId="@Model.LibraryId"
                   asp-route-pageIndex="@(Model.PageData.PageCount - 1)" asp-route-pageSize="@Model.PageData.PageSize"
                   class="page-link">
                    Last
                </a>
            </li>
        </ul>
    </nav>
</section>

@section Scripts
{
    <script src="~/lib/htmx.org/dist/js/htmx.min.js"></script>
}
