@model PaginatedData<Tubeshade.Data.Media.VideoEntity>

<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))">
    @foreach (var video in Model.Data)
    {
        <div class="card m-1">
            <a asp-page="/Videos/Video" asp-route-videoId="@video.Id">
                <img src="@Url.Action("GetThumbnail", "Videos", new { version = "1.0", id = video.Id })"
                     loading="lazy" alt="@video.Name" title="@video.Name"
                     class="card-img-top" style="aspect-ratio: calc(16 / 9);"/>
            </a>

            <div class="card-body p-2">
                <a asp-page="/Videos/Video" asp-route-videoId="@video.Id">
                    <h5 class="card-title text-truncate">@video.Name</h5>
                </a>

                <a asp-page="/Channels/Channel" asp-route-channelId="@video.ChannelId">
                    <h6 class="text-truncate">@video.ChannelId</h6>
                </a>
            </div>
        </div>
    }
</div>

@* <nav> *@
@*     <ul class="pagination justify-content-center"> *@
@*         <li class="page-item @(Model.IsFirstPage ? "disabled" : string.Empty)"> *@
@*             <a asp-page="" asp-route-page="0" asp-route-pageSize="@Model.PageSize" class="page-link"> *@
@*                 First *@
@*             </a> *@
@*         </li> *@
@* *@
@*         @foreach (var index in Model.DisplayedPages) *@
@*         { *@
@*             <li class="page-item @(index - 1 == Model.Page ? "active" : string.Empty)"> *@
@*                 <a asp-page="" asp-route-page="@Model.Page" asp-route-pageSize="@Model.PageSize" class="page-link" aria-current="page"> *@
@*                     @index *@
@*                 </a> *@
@*             </li> *@
@*         } *@
@* *@
@*         <li class="page-item @(Model.IsLastPage ? "disabled" : string.Empty)"> *@
@*             <a asp-page="" asp-route-page="@Model.PageCount - 1" asp-route-pageSize="@Model.PageSize" class="page-link"> *@
@*                 Last *@
@*             </a> *@
@*         </li> *@
@*     </ul> *@
@* </nav> *@
