@model PaginatedData<Tubeshade.Data.Media.VideoEntity>

<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))">
    @foreach (var video in Model.Data)
    {
        <div class="card m-1">
            <a asp-page="/Videos/Video" asp-route-videoId="@video.Id">
                <img src="@Url.Action("GetThumbnail", "Videos", new { version = "1.0", id = video.Id })"
                     loading="lazy" alt="@video.Name" title="@video.Name"
                     class="card-img-top" style="aspect-ratio: calc(16 / 9);"/>
            </a>

            <div class="card-body p-2">
                <a asp-page="/Videos/Video" asp-route-videoId="@video.Id">
                    <h5 class="card-title text-truncate">@video.Name</h5>
                </a>

                <a asp-page="/Channels/Channel" asp-route-channelId="@video.ChannelId">
                    <h6 class="text-truncate">@video.ChannelId</h6>
                </a>
            </div>
        </div>
    }
</div>
