@using Tubeshade.Server.Pages.Shared
@model ITaskPage

<form method="get" class="row row-cols-1 row-cols-sm-auto g-2 align-items-center mb-2"
      hx-get="" hx-page-handler="" hx-params="*" hx-push-url="true"
      hx-trigger="input changed delay:100ms" hx-target="#tasks"
      id="filter">

    <div class="col-12">
        <label asp-for="PageSize" hidden="hidden">@SharedResources.Filters_PageSize</label>
        <input asp-for="PageSize" class="form-control" type="number" placeholder="@SharedResources.Filters_PageSize"
               value="@(Model.PageSize is null or Defaults.PageSize ? null : Model.PageSize)"/>
    </div>

    <div class="col-12">
        <div class="form-check">
            <input id="task-polling" type="checkbox" hx-on:change="onPollingChanged()" checked="checked" class="form-check-input"/>
            <label for="task-polling" class="form-check-label">
                @SharedResources.Tasks_RefreshAutomatically
            </label>
        </div>
    </div>

    <input asp-for="PageIndex" value="@Model.PageIndex" hidden="hidden"/>
</form>

<partial name="Tasks/_RunningTasks" model="@Model"/>
