@using Tubeshade.Data.Tasks
@using Tubeshade.Server.Pages.Shared
@model ITasksPage

<section hx-get="" hx-page-handler="" hx-trigger="every 2s" hx-swap="outerHTML" id="tasks"
         hx-include="#filter" hx-params="*">
    <table class="table">
        <thead>
        <tr>
            <th>@SharedResources.Tasks_Task</th>
            <th class="col-1">@SharedResources.Tasks_Status</th>
            <th class="col-1">@SharedResources.Tasks_TaskSource</th>
            <th class="col-1">@SharedResources.Tasks_Action</th>
        </tr>
        </thead>

        @foreach (var task in Model.PageData.Data)
        {
            <tbody>
            @foreach (var (index, run) in task.Runs.Index())
            {
                <tr aria-busy="@run.HasProgress" aria-describedby="@run.ProgressBarId">
                    <td>
                        @if (index is 0)
                        {
                            <partial name="Tasks/_TaskName" model="@task"/>
                        }
                    </td>
                    <td>
                        @if (run.Status == TaskStatus.Queued)
                        {
                            <span>@run.Status.LocalizedName</span>
                        }
                        else if (run.HasProgress)
                        {
                            <div class="d-inline-flex flex-column">
                                <div class="d-flex justify-content-between">
                                    <label for="@run.ProgressBarId" class="text-nowrap me-1">
                                        @run.FormattedValue
                                    </label>
                                    @if (run is { FormattedValue: not null, FormattedTarget: not null })
                                    {
                                        <span class="text-nowrap">/</span>
                                    }
                                    <label for="@run.ProgressBarId" class="text-nowrap ms-1">
                                        @run.FormattedTarget
                                    </label>
                                </div>
                                <div class="d-flex">
                                    <progress id="@run.ProgressBarId" max="@run.Target" value="@run.Value">
                                        @run.Progress%
                                    </progress>
                                </div>
                                <div class="d-flex">
                                    @if (run.FormattedRate is { } rate)
                                    {
                                        <span class="flex-fill text-nowrap">@rate</span>
                                    }
                                    @if (run.FormattedRemaining is { } remaining)
                                    {
                                        <span class="text-nowrap">~@remaining</span>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            @if (run.Status == TaskStatus.Failed)
                            {
                                <a asp-page="" asp-page-handler="TaskRun" asp-route-taskRunId="@run.Id"
                                   title="@run.Message?.ToParagraphs().FirstOrDefault()">
                                    @(run.Status.LocalizedName)
                                </a>
                            }
                            else
                            {
                                @(run.Status.LocalizedName)
                            }
                        }
                    </td>
                    <td>
                        @run.Source.LocalizedName
                    </td>
                    <td>
                        @if (index is 0)
                        {
                            @if (run.Result is not null && run.Result != TaskResult.Successful)
                            {
                                <button
                                    hx-post="" hx-page-handler="Retry" hx-route-taskId="@task.Id" hx-swap="none"
                                    hx-on::before-send="this.disabled = true"
                                    type="button" class="btn btn-primary w-100">
                                    @SharedResources.Button_Retry
                                </button>
                            }
                            else if (run.Status == TaskStatus.InProgress || run.Status == TaskStatus.Queued)
                            {
                                <button
                                    hx-post="" hx-page-handler="Cancel" hx-route-taskRunId="@run.Id" hx-swap="none"
                                    hx-on::before-send="this.disabled = true"
                                    type="button" class="btn btn-danger w-100">
                                    @SharedResources.Button_Cancel
                                </button>
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
        }
    </table>

    <nav class="text-center">
        <span>
            @(string.Format(SharedResources.Pagination_PageSummary, Model.PageData.StartIndex, Model.PageData.EndIndex, Model.PageData.TotalCount))
        </span>

        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.PageData.IsFirst ? "disabled" : string.Empty)">
                <a asp-all-route-data="@(Model.GetRouteValues(0))"
                   class="page-link">
                    @SharedResources.Pagination_First
                </a>
            </li>

            @foreach (var index in Model.PageData.DisplayedPages)
            {
                <li class="page-item @(index - 1 == Model.PageData.Page ? "active" : string.Empty)">
                    <a asp-all-route-data="@(Model.GetRouteValues(index - 1))"
                       class="page-link" aria-current="page">
                        @index
                    </a>
                </li>
            }

            <li class="page-item @(Model.PageData.IsLast ? "disabled" : string.Empty)">
                <a asp-all-route-data="@(Model.GetRouteValues(Model.PageData.PageCount - 1))"
                   class="page-link">
                    @SharedResources.Pagination_Last
                </a>
            </li>
        </ul>
    </nav>
</section>
