@using Tubeshade.Data.Tasks
@using Tubeshade.Server.Pages.Shared
@model ITaskPage

<section hx-get="" hx-page-handler="" hx-trigger="every 2s" hx-swap="outerHTML" id="tasks"
         hx-include="#filter" hx-params="*">
    <table class="table">
        <thead>
        <tr>
            <th>@SharedResources.Tasks_Task</th>
            <th>@SharedResources.Tasks_Status_queued</th>
            <th>@SharedResources.Tasks_Action</th>
        </tr>
        </thead>

        @foreach (var task in Model.PageData.Data)
        {
            <tbody>
            @foreach (var (index, run) in task.Runs.Index())
            {
                <tr aria-busy="@run.HasProgress" aria-describedby="@run.ProgressBarId">
                    <td>
                        @if (index is 0)
                        {
                            <span>@task.TypeDisplay</span>
                            @if (task.Type == TaskType.Index)
                            {
                                @if (task.VideoId is { } videoId)
                                {
                                    <a asp-page="/Videos/Video" asp-route-videoId="@videoId">
                                        <span>"@task.Name"</span>
                                    </a>
                                }
                                else if (task.ChannelId is { } channelId)
                                {
                                    <a asp-page="/Channels/Channel" asp-route-channelId="@channelId">
                                        <span>"@task.Name"</span>
                                    </a>
                                }
                                else
                                {
                                    <span>"@task.Name"</span>
                                }
                            }
                            else if (task.Type == TaskType.DownloadVideo && task.VideoId is { } videoId)
                            {
                                <a asp-page="/Videos/Video" asp-route-videoId="@videoId">
                                    <span>"@task.Name"</span>
                                </a>
                            }
                            else if (task.Type == TaskType.ScanChannel && task.ChannelId is { } channelId)
                            {
                                <a asp-page="/Channels/Channel" asp-route-channelId="@channelId">
                                    <span>"@task.Name"</span>
                                </a>
                            }
                            else if ((task.Type == TaskType.ScanSubscriptions || task.Type == TaskType.ScanSponsorBlockSegments || task.Type == TaskType.RefreshSubscriptions) &&
                                     task.LibraryId is { } libraryId)
                            {
                                <a asp-page="/Libraries/Library" asp-route-libraryId="@libraryId">
                                    <span>"@task.Name"</span>
                                </a>
                            }
                            else
                            {
                                <span>"@task.Name"</span>
                            }
                        }
                    </td>
                    <td>
                        @if (run.State == RunState.Queued)
                        {
                            <span>@SharedResources.Tasks_Queued</span>
                        }
                        else if (run.HasProgress)
                        {
                            <div class="row">
                                <label for="@run.ProgressBarId" class="col-auto">@run.FormattedValue</label>
                                <progress id="@run.ProgressBarId" max="@run.Target" value="@run.Value" class="col-auto">
                                    @run.Progress%
                                </progress>
                                <label for="@run.ProgressBarId" class="col-auto">@run.FormattedTarget</label>
                                @if (run.FormattedRate is { } rate)
                                {
                                    <span class="col-auto">@rate</span>
                                }
                                @if (run.FormattedRemaining is { } remaining)
                                {
                                    <span class="col-auto">~@remaining</span>
                                }
                            </div>
                        }
                        else
                        {
                            @(SharedResources.ResourceManager.GetString($"Tasks_Status_{run.Status.Name}"))
                            @if (run.Message is not null)
                            {
                                foreach (var paragraph in run.Message.ToParagraphs())
                                {
                                    <p class="tubeshade-paragraph">@paragraph</p>
                                }
                            }
                        }
                    </td>
                    <td>
                        @if (index is 0)
                        {
                            @if (run.Result is not null && run.Result != TaskResult.Successful)
                            {
                                <button
                                    hx-post="" hx-page-handler="Retry" hx-route-taskId="@task.Id" hx-swap="none"
                                    type="button" class="btn btn-primary w-100">
                                    @SharedResources.Button_Retry
                                </button>
                            }
                            else if (run.Status == TaskStatus.InProgress || run.Status == TaskStatus.Queued)
                            {
                                <button
                                    hx-post="" hx-page-handler="Cancel" hx-route-taskRunId="@run.Id" hx-swap="none"
                                    type="button" class="btn btn-danger w-100">
                                    @SharedResources.Button_Cancel
                                </button>
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
        }
    </table>

    <nav class="text-center">
        <span>
            @(string.Format(SharedResources.Pagination_PageSummary, Model.PageData.StartIndex, Model.PageData.EndIndex, Model.PageData.TotalCount))
        </span>

        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.PageData.IsFirst ? "disabled" : string.Empty)">
                <a asp-page="" asp-all-route-data="@(Model.GetRouteValues(0))"
                   class="page-link">
                    @SharedResources.Pagination_First
                </a>
            </li>

            @foreach (var index in Model.PageData.DisplayedPages)
            {
                <li class="page-item @(index - 1 == Model.PageData.Page ? "active" : string.Empty)">
                    <a asp-page="" asp-all-route-data="@(Model.GetRouteValues(index - 1))"
                       class="page-link" aria-current="page">
                        @index
                    </a>
                </li>
            }

            <li class="page-item @(Model.PageData.IsLast ? "disabled" : string.Empty)">
                <a asp-page="" asp-all-route-data="@(Model.GetRouteValues(Model.PageData.PageCount - 1))"
                   class="page-link">
                    @SharedResources.Pagination_Last
                </a>
            </li>
        </ul>
    </nav>
</section>
