@model IVideoPage

<partial name="Videos/_Videos" for="PageData"/>

<nav class="text-center">
    <span>
        @(string.Format(SharedResources.Pagination_PageSummary, Model.PageData.StartIndex, Model.PageData.EndIndex, Model.PageData.TotalCount))
    </span>

    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PageData.IsFirst ? "disabled" : string.Empty)">
            <a asp-page="" asp-all-route-data="@(Model.GetRouteValues(0))"
               class="page-link">
                @SharedResources.Pagination_First
            </a>
        </li>

        @foreach (var index in Model.PageData.DisplayedPages)
        {
            <li class="page-item @(index - 1 == Model.PageData.Page ? "active" : string.Empty)">
                <a asp-page="" asp-all-route-data="@(Model.GetRouteValues(index - 1))"
                   class="page-link" aria-current="page">
                    @index
                </a>
            </li>
        }

        <li class="page-item @(Model.PageData.IsLast ? "disabled" : string.Empty)">
            <a asp-page="" asp-all-route-data="@(Model.GetRouteValues(Model.PageData.PageCount - 1))"
               class="page-link">
                @SharedResources.Pagination_Last
            </a>
        </li>
    </ul>
</nav>
