@using NodaTime.Text
@model Tubeshade.Server.Pages.Shared.PaginatedData<VideoModel>

<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))">
    @foreach (var video in Model.Data)
    {
        <div class="card m-1">
            <a asp-page="@(Model.LibraryId is not null ? "/Libraries/Videos/Video" : "/Videos/Video")"
               asp-route-libraryId="@Model.LibraryId" asp-route-videoId="@video.Video.Id">
                <img src="@Url.Action("GetThumbnail", "Videos", new { version = "1.0", id = video.Video.Id })"
                     loading="lazy" alt="@video.Video.Name" title="@video.Video.Name"
                     class="card-img-top" style="aspect-ratio: calc(16 / 9);"/>
            </a>

            <div class="card-body p-2">
                <h6 class="card-title text-truncate mb-0" title="@video.Video.Name">@video.Video.Name</h6>

                <div class="d-flex d-inline justify-content-between">
                    <a asp-page="@(Model.LibraryId is not null ? "/Libraries/Channels/Channel" : "/Channels/Channel")"
                       asp-route-libraryId="@Model.LibraryId" asp-route-channelId="@video.Video.ChannelId">
                        <span class="text-truncate">@video.Channel.Name</span>
                    </a>
                    <form>
                        <input value="@(video.Video.Id)" name="videoId" hidden/>
                        <div class="form-check form-switch">
                            <input id="viewed@(video.Video.Id.ToString("N"))" checked="@(video.Viewed)" name="viewed"
                                   type="checkbox" role="switch" switch title="Viewed" class="form-check-input"
                                   hx-post="" hx-page-handler="Viewed" hx-swap="none"/>
                            <label for="viewed@(video.Video.Id.ToString("N"))" class="form-check-label" hidden>
                                Viewed
                            </label>
                        </div>
                    </form>
                </div>

                <div class="d-flex d-inline justify-content-between">
                    <time datetime="@InstantPattern.General.Format(video.Video.PublishedAt)">
                        @LocalDatePattern.Iso.Format(video.Video.PublishedAt.InUtc().Date)
                    </time>
                    <div>
                        <span>@(HumanReadablePeriodPattern.Instance.Format(video.Video.Duration))</span>
                        @if (video.Video.Duration != video.ActualDuration)
                        {
                            <span>(@(HumanReadablePeriodPattern.Instance.Format(video.ActualDuration)))</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
