@page "~/Videos/{videoId:guid}/{handler?}"
@model Video
@{
    ViewData["Title"] = Model.Entity.Name;
}

<video id="video" controls playsinline preload="metadata" width="100%"
       poster="@Url.Action("GetThumbnail", "Videos", new { version = "1.0", id = Model.VideoId })">

    @foreach (var file in Model.Files)
    {
        <source
            src="@Url.Action("GetFile", "Videos", new { version = "1.0", id = Model.VideoId, fileId = file.Id })"
            type="video/@file.Type.Name"/>
    }

    <track
        src="@Url.Action("GetSubtitles", "Videos", new { version = "1.0", id = Model.VideoId })"
        label="English" kind="subtitles" srclang="en" default/>
    <track
        src="@Url.Action("GetChapters", "Videos", new { version = "1.0", id = Model.VideoId })"
        kind="chapters" srclang="en" default/>
</video>

<h2>@Model.Entity.Name</h2>
<h4><a asp-page="/Channels/Channel" asp-route-channelId="@Model.Channel.Id">@Model.Channel.Name</a></h4>

<a href="@Model.Entity.ExternalUrl">Original</a>

<section id="video-description">
    @foreach (var paragraph in Model.Entity.Description.Split(["\n", "\r\n"], StringSplitOptions.None))
    {
        @paragraph
        <br/>
    }
</section>
