@using Tubeshade.Data.Media
@using Tubeshade.Server.Pages.Shared
@model IDownloadPage

<form method="get" class="row row-cols-1 row-cols-sm-auto g-2 align-items-center mb-2"
      hx-get="" hx-page="" hx-params="*" hx-push-url="true"
      hx-trigger="input changed delay:100ms" hx-target="#downloadable-videos" hx-swap="outerHtml">

    <div class="col-12 col-md">
        <label asp-for="Query" hidden="hidden">@SharedResources.Filters_Search</label>
        <input asp-for="Query" class="form-control" type="search" placeholder="@SharedResources.Filters_Search"/>
    </div>

    <div class="col-12">
        <label asp-for="ChannelId" hidden="hidden">@SharedResources.Filters_Channel</label>
        <select asp-for="ChannelId" class="form-control form-select">
            <option selected="@(Model.ChannelId is null)" value="">@SharedResources.Filters_Channels_All</option>
            @foreach (var channel in Model.Channels)
            {
                <option selected="@(Model.ChannelId == channel.Id)" value="@channel.Id">@channel.Name</option>
            }
        </select>
    </div>

    <div class="col-12">
        <label asp-for="Type" hidden="hidden">@SharedResources.Filters_VideoType</label>
        <select asp-for="Type" class="form-select">
            <option value="">@SharedResources.Filters_VideoType_All</option>
            @foreach (var type in VideoType.List)
            {
                <option value="@type.Name">
                    @SharedResources.ResourceManager.GetString($"Filters_VideoType_{type.Name}")
                </option>
            }
        </select>
    </div>

    <div class="col-12">
        <label asp-for="PageSize" hidden="hidden">@SharedResources.Filters_PageSize</label>
        <input asp-for="PageSize" class="form-control" type="number" placeholder="@SharedResources.Filters_PageSize"
               value="@(Model.PageSize is null or Defaults.PageSize ? null : Model.PageSize)"/>
    </div>

    <div class="col-12">
        <label asp-for="WithFiles" hidden="hidden">@SharedResources.Filters_Files</label>
        <select asp-for="WithFiles" class="form-select">
            <option value="">@SharedResources.Filters_Files_All</option>
            <option value="@true">@SharedResources.Filters_Files_With</option>
            <option value="@false">@SharedResources.Filters_Files_Without</option>
        </select>
    </div>

    <div class="col-12">
        <label asp-for="Availability" hidden="hidden">@SharedResources.Filters_Availability</label>
        <select asp-for="Availability" class="form-select">
            <option value="">@SharedResources.Filters_Availability_Any</option>
            @foreach (var availability in ExternalAvailability.List)
            {
                <option value="@availability.Name">
                    @SharedResources.ResourceManager.GetString($"Filters_Availability_{availability.Name}")
                </option>
            }
        </select>
    </div>

    <div class="col-12">
        <label asp-for="SortBy" hidden="hidden">@SharedResources.Filters_SortVideoBy</label>
        <select asp-for="SortBy" class="form-select">
            @foreach (var sortBy in SortVideoBy.List)
            {
                <option value="@sortBy.Name" selected="@(Model.SortBy == sortBy)">
                    @SharedResources.ResourceManager.GetString($"Filters_SortVideoBy_{sortBy.Name}")
                </option>
            }
        </select>
    </div>

    <div class="col-12">
        <label asp-for="SortDirection" hidden="hidden">@SharedResources.Filters_SortDirection</label>
        <select asp-for="SortDirection" class="form-select">
            @foreach (var direction in SortDirection.List)
            {
                <option value="@direction.Name" selected="@(Model.SortDirection == direction)">
                    @SharedResources.ResourceManager.GetString($"Filters_SortDirection_{direction.Name}")
                </option>
            }
        </select>
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary" title="Search">
            🔎︎
        </button>
    </div>

    <input asp-for="PageIndex" value="@Model.PageIndex" hidden="hidden"/>
</form>
