@using NodaTime.Text
@model IDownloadPage

<section id="downloadable-videos">
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(260px, 1fr))">
        @foreach (var (index, video) in Model.PageData.Data.Index())
        {
            <div class="card m-1" id="card-@(video.Video.Id)">
                <div class="position-relative" style="aspect-ratio: 16 / 9">
                    <a asp-page="@(Model.PageData.LibraryId is not null ? "/Libraries/Videos/Video" : "/Videos/Video")"
                       asp-route-libraryId="@Model.PageData.LibraryId" asp-route-videoId="@video.Video.Id"
                       class="@(video.Video.Thumbnails is [] ? "tubeshade-missing-thumbnail" : string.Empty)">
                        @if (video.Video.Thumbnails is not [])
                        {
                            <img class="card-img-top tubeshade-video-thumbnail"
                                 loading="lazy" decoding="async" fetchpriority="@(index < 7 ? "high" : "low")"
                                 alt="@video.Video.Name" title="@video.Video.Name"
                                 src="@video.GetThumbnailSource(Url)" srcset="@video.GetThumbnailSourceSet(Url)"
                                 sizes="auto, (max-width: 557px) 510px, (max-width: 820px) 380px, (max-width: 1080px) 320px, 280px"/>
                        }
                        else
                        {
                            @video.Video.Name
                        }
                    </a>
                </div>

                <div class="card-body p-2">
                    <h6 class="card-title text-truncate mb-0" title="@video.Video.Name">@video.Video.Name</h6>

                    <div class="d-flex d-inline justify-content-between gap-3">
                        <a asp-page="@(Model.PageData.LibraryId is not null ? "/Libraries/Channels/Channel" : "/Channels/Channel")"
                           asp-route-libraryId="@Model.PageData.LibraryId" asp-route-channelId="@video.Video.ChannelId"
                           class="text-truncate">
                            @video.Channel.Name
                        </a>
                    </div>

                    <div class="d-flex d-inline justify-content-between">
                        <time datetime="@InstantPattern.General.Format(video.Video.PublishedAt)">
                            @LocalDatePattern.Iso.Format(video.Video.PublishedAt.InUtc().Date)
                        </time>
                        <div>
                            @if (video is { ActualDuration: { } actualDuration, Video.Duration: { } duration })
                            {
                                <span>@(RoundedHumanReadablePeriodPattern.TwoPlaces.Format(duration))</span>
                                @if (duration != actualDuration)
                                {
                                    <span>(@(RoundedHumanReadablePeriodPattern.TwoPlaces.Format(actualDuration)))</span>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="btn-group btn-group-sm w-100" role="group">
                    <button hx-post="" hx-page-handler="StartDownload" hx-route-videoId="@video.Video.Id"
                            hx-swap="delete" hx-target="#card-@video.Video.Id"
                            class="btn btn-success" type="button">
                        @SharedResources.Button_Download
                    </button>

                    <button hx-post="" hx-page-handler="Ignore" hx-route-videoId="@video.Video.Id"
                            hx-swap="delete" hx-target="#card-@video.Video.Id"
                            class="btn btn-secondary" type="button">
                        @SharedResources.Button_Ignore
                    </button>
                </div>
            </div>
        }
    </div>

    <nav class="text-center">
        <span>
            @(string.Format(SharedResources.Pagination_PageSummary, Model.PageData.StartIndex, Model.PageData.EndIndex, Model.PageData.TotalCount))
        </span>

        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.PageData.IsFirst ? "disabled" : string.Empty)">
                <a asp-all-route-data="@Model.GetRouteValues(0)"
                   class="page-link">
                    @SharedResources.Pagination_First
                </a>
            </li>

            @foreach (var index in Model.PageData.DisplayedPages)
            {
                <li class="page-item @(index - 1 == Model.PageData.Page ? "active" : string.Empty)">
                    <a asp-all-route-data="@Model.GetRouteValues(index - 1)"
                       class="page-link" aria-current="page">
                        @index
                    </a>
                </li>
            }

            <li class="page-item @(Model.PageData.IsLast ? "disabled" : string.Empty)">
                <a asp-all-route-data="@Model.GetRouteValues(Model.PageData.PageCount - 1)"
                   class="page-link">
                    @SharedResources.Pagination_Last
                </a>
            </li>
        </ul>
    </nav>
</section>
