@page "~/Downloads/{handler?}"
@model Index
@{
    ViewData["Title"] = "Downloads";
}

@section Head
{
    <link rel="prefetch" as="script" href="~/lib/htmx.org/dist/js/htmx.min.js"/>
    <link rel="prefetch" as="script" href="~/js/htmx.antiforgery.js"/>
}

@section Navigation
{
    <partial name="Shared/_Navigation"/>
}

<input class="form-control" type="search" placeholder="Search videos" asp-for="Query"
       hx-get="" hx-page-handler="Downloadable" hx-params="*"
       hx-trigger="input changed delay:100ms, keyup[key='Enter']"
       hx-target="#downloadable-videos" hx-swap="outerHtml"
       hx-indicator=".htmx-indicator"/>

<div class="input-group">
    <label class="input-group-text" asp-for="ChannelId">Channel</label>
    <select
        asp-for="ChannelId"
        hx-get="" hx-page-handler="Downloadable" hx-trigger="input changed"
        hx-vals='{"pageSize": @(Model.PageSize?.ToString() ?? "null"), "pageIndex": @(Model.PageIndex?.ToString() ?? "null")}'
        hx-target="#downloadable-videos" hx-swap="outerHtml"
        class="form-control form-select">
        <option selected="@(Model.ChannelId is null)">--- Select channel ---</option>
        @foreach (var channel in Model.Channels)
        {
            <option selected="@(Model.ChannelId == channel.Id)" value="@channel.Id">@channel.Name</option>
        }
    </select>
</div>

<partial name="_DownloadableVideos" model="Model"/>

@section Scripts
{
    <script src="~/lib/htmx.org/dist/js/htmx.min.js"></script>
    <script src="~/js/htmx.antiforgery.js"></script>
}
