@page "~/Channels/{handler?}"
@model Index
@{
    ViewData["Title"] = "Channels";
}

@section Navigation
{
    <partial name="Shared/_Navigation" model="@Model"/>
}

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Subscribed</th>
        <th>Availability</th>
        <th>Original</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var channel in Model.Channels.OrderBy(channel => channel.Name))
    {
        <tr>
            <td>
                <a asp-page="/Channels/Channel" asp-route-channelId="@channel.Id">
                    @channel.Name
                </a>
            </td>
            <td>
                <span>@(channel.SubscribedAt?.InUtc().LocalDateTime.Date.ToString() ?? "-")</span>
            </td>
            <td>
                @channel.Availability.Name
            </td>
            <td>
                <a href="@channel.ExternalUrl">@channel.ExternalUrl</a>
            </td>
        </tr>
    }
    </tbody>
</table>
