@using Tubeshade.Data.Media
@model Channel

<section id="tabs">
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a hx-get="" hx-page-handler="" hx-route-tab="Video"
                   hx-target="#tabs" hx-swap="outerHTML" hx-push-url="true"
                   class="nav-link @((Model.Tab ?? "Video") is "Video" ? "active" : null)"
                   aria-current="@((Model.Tab ?? "Video") is "Video" ? "page" : null)">
                    Videos
                </a>
            </li>
            <li class="nav-item">
                <a hx-get="" hx-page-handler="" hx-route-tab="Settings"
                   hx-target="#tabs" hx-swap="outerHTML" hx-push-url="true"
                   class="nav-link @(Model.Tab is "Settings" ? "active" : null)"
                   aria-current="@(Model.Tab is "Settings" ? "page" : null)">
                    Settings
                </a>
            </li>
        </ul>
    </nav>

    @if ((Model.Tab ?? "Video") is "Video")
    {
        <partial name="Libraries/_Videos" for="PageData"/>

        <nav class="text-center">
            <span>
                Showing @Model.PageData.StartIndex - @Model.PageData.EndIndex from @Model.PageData.TotalCount
            </span>

            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.PageData.IsFirst ? "disabled" : string.Empty)">
                    <a asp-page="/Libraries/Channels/Channel"
                       asp-route-libraryId="@Model.LibraryId" asp-route-channelId="@Model.ChannelId"
                       asp-route-pageIndex="0" asp-route-pageSize="@Model.PageData.PageSize"
                       class="page-link">
                        First
                    </a>
                </li>

                @foreach (var index in Model.PageData.DisplayedPages)
                {
                    <li class="page-item @(index - 1 == Model.PageData.Page ? "active" : string.Empty)">
                        <a asp-page="/Libraries/Channels/Channel"
                           asp-route-libraryId="@Model.LibraryId" asp-route-channelId="@Model.ChannelId"
                           asp-route-pageIndex="@(index - 1)" asp-route-pageSize="@Model.PageData.PageSize"
                           class="page-link" aria-current="page">
                            @index
                        </a>
                    </li>
                }

                <li class="page-item @(Model.PageData.IsLast ? "disabled" : string.Empty)">
                    <a asp-page="/Libraries/Channels/Channel"
                       asp-route-libraryId="@Model.LibraryId" asp-route-channelId="@Model.ChannelId"
                       asp-route-pageIndex="@(Model.PageData.PageCount - 1)"
                       asp-route-pageSize="@Model.PageData.PageSize"
                       class="page-link">
                        Last
                    </a>
                </li>
            </ul>
        </nav>
    }
    else if (Model.Tab is "Settings")
    {
        @if (Model.Entity.Availability == ExternalAvailability.NotAvailable)
        {
            <p>Original no longer available</p>
        }
        else
        {
            <a href="@Model.Entity.ExternalUrl">Original</a>
        }

        <section id="channel-preferences">
            <partial name="Libraries/_UpdatePreferences" for="UpdatePreferencesModel"/>
        </section>

        <partial name="_Subscribe" for="Entity"/>
    }
</section>
