@page "~/Libraries/{libraryId:guid}/Channels/{channelId:guid}/Preferences/{handler?}"
@model ChannelSettings
@{
    ViewData["Title"] = $"{SharedResources.Preferences} - {Model.Entity.Name}";
}

@section Navigation
{
    <partial name="Libraries/_LibraryNavigation" for="Library"/>
}

<h2>@Model.Entity.Name</h2>

<div>
    <a href="@Model.Entity.ExternalUrl">@SharedResources.Original</a>
    (@(SharedResources.ResourceManager.GetString($"Video_ExternalAvailability_{Model.Entity.Availability.Name}")))
</div>

<hr/>

<section id="channel-preferences" class="mb-2">
    <partial name="Libraries/_UpdatePreferences" for="UpdatePreferencesModel"/>
</section>

<hr/>

@if (Model.OtherLibraries.Count > 0)
{
    <section class="mb-2">
        <form asp-page-handler="ChangeLibrary" class="row g-3">
            <div class="col-sm-12">
                <label class="form-label" asp-for="NewLibraryId">
                    @SharedResources.Preferences_NewLibrary
                </label>
                <select class="form-control form-select" asp-for="NewLibraryId">
                    <option value="@Model.Library.Id" selected disabled>
                        @Model.Library.Name (@(SharedResources.Preferences_CurrentLibrary))
                    </option>
                    @foreach (var library in Model.OtherLibraries)
                    {
                        <option value="@library.Id">@library.Name</option>
                    }
                </select>
                <span class="form-text text-danger" asp-validation-for="NewLibraryId"></span>
            </div>

            <div class="col-12 col-sm-4 col-lg-3 col-xxl-2">
                <button class="btn btn-primary w-100" type="submit">
                    @SharedResources.Button_MoveToLibrary
                </button>
            </div>
        </form>
    </section>

    <hr/>
}

<section>
    <partial name="_Subscribe" for="Entity"/>
</section>
