@page "~/Libraries/{libraryId:guid}/Channels/{handler?}"
@using NodaTime.Text
@model Index
@{
    ViewData["Title"] = $"{SharedResources.Channels} - {Model.Library.Name}";
}

@section Navigation
{
    <partial name="Libraries/_LibraryNavigation" for="Library"/>
}

<table class="table">
    <thead>
    <tr>
        <th>@SharedResources.Name</th>
        <th>@SharedResources.Subscribed</th>
        <th>@SharedResources.Filters_Availability</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var channel in Model.Entities.OrderBy(channel => channel.Name))
    {
        <tr>
            <td>
                <a asp-page="/Libraries/Channels/Channel" asp-route-libraryId="@Model.LibraryId"
                   asp-route-channelId="@channel.Id">
                    @channel.Name
                </a>
            </td>
            <td>
                @if (channel.SubscribedAt is { } time)
                {
                    <time datetime="@InstantPattern.General.Format(time)">
                        @LocalDatePattern.Iso.Format(time.InUtc().Date)
                    </time>
                }
                else
                {
                    <span>-</span>
                }
            </td>
            <td>
                <a href="@channel.ExternalUrl">
                    @SharedResources.ResourceManager.GetString($"Video_ExternalAvailability_{channel.Availability.Name}")
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
